.container{
    width: 800px;
    margin: auto;
    background: red;
    padding-top: 30px;
    padding-bottom: 30px;
}

button{
    height: 40px;
}

input{
    font-size: 20px;
    width: 150px;
    height: 80px;
}

.container_2{
    width: 800px;
    margin: auto;
    background: red;
    display: flex;
    flex-wrap: wrap;
}

.row::after {
    content: none;
    display: block;
    clear: both;
}
table {
    border-collapse: collapse;
    margin: 20px auto;
}

table tr td {
    width: 30px;
    height: 30px;
    border: 1px solid black;
    text-align: center;

}

h1{
    padding: 20px;
}